 <h1> Battle! </h1>
<h2> Please choose a game type </h2>

<h3> Player vs Computer</h3>
<form action="/name" method="post">

<label for="name1">
Player Name:
   <input type="text" name="player">
 </label>
 <input type="submit" value="Start 1 player game">
 </form>

<h3> Player vs Player</h3>
 <form action="/names" method="post">

 <label for="name1">
 Player 1 Name:
    <input type="text" name="player1">
  </label>

 <label for="name2">
 Player 2 Name:
     <input type="text" name="player2">
  </label>

  <input type="submit" value="Start 2 player game">
  </form>
